<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.qcz.mapper.ProcessMapper">
    <select id="getUserError" resultType="String">
        select content
        from build_info
        where exam_id = #{examId} and user_id = #{userId} and content like '%\"ErrorLevel\":4%'
    </select>

    <select id="getError" resultType="String">
        select content from build_info where exam_id = #{examId} and content like '%\"ErrorLevel\":4%'
    </select>

    <select id="getCopyUser" resultType="Integer">
        select distinct compare_user_id from similarity where exam_id = #{examId} and cast(similarity as INTEGER) > #{similarity}
    </select>


    <select id="getCopyRelation" resultType="cn.edu.nju.qcz.entity.CopyRelation">
        select user_id, exam_id, compare_user_id, similarity from similarity where exam_id = #{examId} and compare_user_id = #{userId} and cast(similarity as INTEGER) > #{similarity}
    </select>

    <select id="getCodeBySave" resultType="String">
        select content from command_text where exam_id = #{examId} and user_id = #{userId} and time = #{time} and action = 'cmdSave' limit 1
    </select>
</mapper>